.park--show
  .park--show__title
    = link_to "鞍ケ池公園", user_session_path
    %p マイナーな動物が待っているよ
  .park--show__info
    .park--show__info__title
      %p Introduction image
      .park--show__info__image
        = image_tag "park/toyota1.jpg", alt: "鞍ケ池"
        = image_tag "park-info/kuragaike1.jpeg", alt: "鞍ケ池"
        = image_tag "park-info/kuragaike2.jpeg", alt: "鞍ケ池"
        = image_tag "park-info/kuragaike3.jpeg", alt: "鞍ケ池"
        = image_tag "park-info/kuragaike4.jpeg", alt: "鞍ケ池"
    .park--show__info__subTitle
      %p Location map
      .park--show__info__map
        #kuragaike-map
  .park--show__text
    = image_tag "tlogon.png"
    = image_tag "sdgs.png"
    .park--show__text__link
      %a{:href => "https://www.city.toyota.aichi.jp/shisetsu/sports/kouen/1007430/1006166.html", target:"_blank"}豊田市HPへのリンクはこちら
