.login-title
  %h2 Create a new account
  .account-page
    = form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
      = devise_error_messages!
      .field
        .field-input__name
          = f.text_field :name, autofocus: true, placeholder: 'お名前', class: "search-box__text", required:"required"
      .field
        .field-input
          = f.email_field :email, placeholder: 'E-Mail', required:"required"
      .field
        .field-input
          = f.password_field :password, autocomplete: "off", placeholder: 'Password(英数字8文字以上)', required:"required"
      .field
        .field-input
          = f.password_field :password_confirmation, autocomplete: "off", placeholder: 'Password(英数字8文字以上)', required:"required"

      .actions
        = f.submit "Create Account", class: 'create-btn'
