.park--show
  .park--show__title
    = link_to "半田市運動公園", user_session_path
    %p BBQもできるし水遊びもできてなんと無料！
  .park--show__info
    .park--show__info__thumbnail
      %ul
        %li
          %a.modal{:href => "park/handa1.jpg"}
            = image_tag "park/handa1.jpg", alt: "半田市運動公園"
        %li
          %a.modal{:href => "park-info/handa1.jpeg"}
            = image_tag "park-info/handa1.jpeg", alt: "半田市運動公園"
        %li
          %a.modal{:href => "park-info/handa2.jpeg"}
            = image_tag "park-info/handa2.jpeg", alt: "半田市運動公園"
        %li
          %a.modal{:href => "park-info/handa3.jpg"}
            = image_tag "park-info/handa3.jpg", alt: "半田市運動公園"
        %li
          %a.modal{:href => "park-info/handa4.jpg"}
            = image_tag "park-info/handa4.jpg", alt: "半田市運動公園"
    .park--show__info__main
      = image_tag "park/handa1.jpg", alt: "半田市運動公園"