.header
  .header-in
    .header-in__title
      = link_to "Connected Park",root_path
      .header-in--subtitle
        %p オススメ公園を分かち合うオンラインプラットフォーム
    .header__list__right
      -if user_signed_in?
        .header__list__right__userName
          %p ユーザーネーム：
          = image_tag "default.jpeg", alt: "user-image"
          -# %img{:src => "/user_images/#{@user.image_name}"}/
          
          %p= current_user.name
          = link_to edit_user_path(current_user) do
            = icon('fas', 'cog', class: 'icon')
        .header__list__right__login
          = link_to "ログアウト", destroy_user_session_path	, method: :delete
      -else
        = link_to "新規登録", new_user_registration_path, class:"header__list__right__login"
        = link_to "ログイン", user_session_path, class:"header__list__right__login"