.main-img
  .main-img__texts
    %h1.text Connected Park

.main-info
  %ul.main-info__title
    %h3 こんな方にオススメです
    %li.main-info__title__text
    %p ①公園は好きだけど初めての人とすぐに話せない
    %li.main-info__title__text 
    %p ②子供に友達が出来て欲しい
    %li.main-info__title__text 
    %P ③子育ての悩みを共有したい

.main-contents__info
  %h5 〜オススメの公園〜
  .main--contents
    .main--contets__content
      %p 鞍ケ池公園
      .main--contets__content__img
        = image_tag "park/toyota1.jpg", alt: "鞍ケ池"

    .main--contets__content
      %p 交通安全学習センター
      .main--contets__content__img
        = image_tag "park/toyota2.jpg", alt: "交通安全"

    .main--contets__content
      %p 半田市運動公園
      .main--contets__content__img
        = image_tag "park/handa1.jpg", alt: "半田運動公園"

    .main--contets__content
      %p 堀内公園
      .main--contets__content__img
        = image_tag "park/anjyou1.jpg", alt: "堀内公園"

    .main--contets__content
      %p 安城デンパーク
      .main--contets__content__img
        = image_tag "park/anjyou2.jpg", alt: "安城デンパーク"

.info-img
  .info-img__texts
    %h4 さぁいますぐみんなで交流しよう
  .chat-page
    .chat-page__btn
      = link_to "チャットページ", user_session_path