.profiel
  %h3 Creator introduction
  .profiel-tbl
    .profiel-tbl__phot
      = image_tag 'prof.png', alt: '', height: '150px', width: '150px'
    .profiel-tbl__text
      %p 駆け出しエンジニア(TECH CAMP76期生)
      %p 氏名：檀上 政秀
      %p 趣味：読書、料理
      %p ITで子育てをもっと面白くしたいと思い独学でプログラミング学習を開始。会社で働きながら学習することに限界を感じ、自動車製造業を退社。プログラミングに没頭できる環境があるTECH CAMP短期転職コースを受講し、IT企業への転職に挑戦中。Twitter＆noteでプログラミングに関する情報を発信。instagramは読書垢YouTubeで家庭円満の秘訣を公開しています。Facebookは空気
    .profiel-tbl__link
      .btn.twitter
      = icon('fab', 'twitter', class: 'icon')
      %a{href: "https://twitter.com/john01tgmck", target:"_blank"}twitter
      .btn.instagram
      = icon('fab', 'instagram', class: 'icon')
      %a{href: "https://www.instagram.com/?hl=ja", target:"_blank"}instagram
      .btn.note
      = icon('far', 'clipboard', class: 'icon')
      %a{href: "https://note.com/john01", target:"_blank"}note
      .btn.youtube
      = icon('fab', 'youtube', class: 'icon')
      %a{href: "https://www.youtube.com/channel/UCsPpiEhlM81BxK6-PeUEgFQ?view_as=subscriber", target:"_blank"}youtube
      .btn.facebook
      = icon('fab', 'facebook', class: 'icon')
      %a{href: "https://www.facebook.com/john01tgmck/", target:"_blank"}facebook