.park--show
  .park--show__title
    = link_to "交通安全学習センター", user_session_path
    %p ゴーカートや汽車に50円で乗れますよ
  .park--show__info
    .park--show__info__thumbnail
      %ul
        %li
          %a.modal{:href => "park/toyota2.jpg"}
            = image_tag "park/toyota2.jpg", alt: "交通安全学習センター"
        %li
          %a.modal{:href => "park-info/koutu1.jpeg"}
            = image_tag "park-info/koutu1.jpeg", alt: "交通安全学習センター"
        %li
          %a.modal{:href => "park-info/koutu2.jpeg"}
            = image_tag "park-info/koutu2.jpeg", alt: "交通安全学習センター"
        %li
          %a.modal{:href => "park-info/koutu3.jpg"}
            = image_tag "park-info/koutu3.jpg", alt: "交通安全学習センター"
        %li
          %a.modal{:href => "park-info/koutu4.jpg"}
            = image_tag "park-info/koutu4.jpg", alt: "交通安全学習センター"
    .park--show__info__main
      = image_tag "park/toyota2.jpg", alt: "交通安全学習センター"