.login-title
  %h2 Create Park
  #account-page.account-page
    = form_for @post do |f|
      .field
        .field-input__name
          = f.text_field :title, autofocus: true, placeholder: '公園の名前を入力してください', class: "search-box__text", required:"required"
      .field
        .field-input
          = f.text_area :text, placeholder: '紹介文を入力して下さい', class: "post__info", required:"required", cols:100,rows:5
      .field
        .field-input
          = f.text_field :image, placeholder: '画像のURLを入力してください', required:"required"
      .actions
        = f.submit "Create", class: 'create-btn'
      .aa